{%extends "luckydraw/dashboard.html"%} {%block content%}
<br><br>
<div class="container mt-5">
    <form action="/luckydraw/validateMobileNumber" method="POST">
    {% comment %} <form onsubmit="validate()" action="/luckydraw/validateMobileNumber" method="POST"> {% endcomment %}
        {%csrf_token%}
        <div class="row">
            <div class="form-group col-sm">
                <strong><label for="name">Customer Name</label></strong>
                <input type="text" name="name" id="name" class="form-control" required>
            </div>
            <div class="form-group col-sm">
                <strong><label for="Bill Number">Bill Number</label></strong>
                <input type="text" name="bill_id" id="Bill ID"  class="form-control" required>
                <small>It Should not be Dupilcate</small>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="form-group col-sm" aria-autocomplete="off">
                <strong><label for="phone">Phone Number</label></strong>
                <input type="tel" name="mobile" id="phone"  pattern="[0-9]{10}" class="form-control" required>
                <small>Enter 10 digit mobile number only</small>
            </div>
            <div class="form-group col-sm">
                <strong><label for="bill_amount">Bill Amount</label></strong>
                <input type="text" name="bill_amount" id="bill_amount" class="form-control" onkeyup="totalValue()" required>
            </div>
        </div>
        <br>
        <br>
        <div>
            <span>
                <h5>No of Coupouns Issues: <span id="no_of_coupons">0</span></h5>
            </span>
            <span>
                <h5>Total Amount: <span id="total">0</span></h5>
            </span>
            <span>
                <h5>Buy for Rs. <span id="remaining">999</span> to get the next coupon </h5>
            </span>
        </div>
        <input type="submit" value="Create Coupon" class="btn btn-primary">
    </form>
</div>
<script>
    function totalValue(){
        var el = eval(document.getElementById("bill_amount").value);
        var c = el/999;
        document.getElementById("total").innerHTML = el.toString();
        document.getElementById("no_of_coupons").innerHTML = Math.floor(c.toString());
        // console.log(Math.floor(c)+1);

        var remaining = ((Math.floor(c)+1)*999) - el;
        document.getElementById("remaining").innerHTML = remaining.toString();
    }
</script>
{%endblock%}