{%extends "luckydraw/dashboard.html"%}
{%block content%}

<div class="container mt-5">
    <form action="/luckydraw/validateOtp" method="POST" autocomplete="off">
        {%csrf_token%}
        <div class="row form-group">
            <div class="col-sm-6 ">
                <label for="otp" class="form-label">Enter OTP Received</label>
                <input type="text" class="form-control" id="otp" name="otp" required>
            </div>
        </div>
        <br>
        <div class="row form-group">
            <div class="col-sm-3 ">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        {% comment %} <input type="submit" class="btn btn-primary"> {% endcomment %}
    </form>
</div>
{%endblock%}