{%extends "luckydraw/dashboard.html"%}
{%block content%}
<div class="container mt-5">
<form action="/luckydraw/weekly" method="POST" autocomplete="off">
    {%csrf_token%}
    <div class="row form-group">
        <div class="col-sm-3">
                <string><label for="code">Card Code</label></strong>
                <input type="text" name="code" id="code" class="form-control" required>
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Redeem</button>
        </div>
    </div>
</form>
</div>
{%endblock%}