{% extends "luckydraw/dashboard.html"%}
{% block content %}
<div class="container mt-5">
<div class="row">
    {%for object  in winners %}
        <div class="col-12 col-md-6 col-xxl-3">
        <a href="" style="text-decoration: none; color: #000;">
            <div class="progressCard card border-0">
            <div class="row">
                <div class="col details">
                    <stong>Coupon Code: </strong>{{object.winner_card.code}}<br>
                    <stong>Name: </strong>{{object.winner_coupon.name}}<br>
                    <stong>Mobile Number: </strong>{{object.winner_coupon.mobile}}<br>
                    <stong>Bill Id: </strong>{{object.winner_coupon.bill_id}}<br>
                    <stong>Card Created On: </strong>{{object.winner_coupon.date_created}}<br>
                </div>
            </div>
            </div>
        </a>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}