{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subhamasthu Shopping CMS</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="{% static 'new.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'new_shubha.ico' %}"/>
    <script src="{% static 'home.js' %}"></script>
    <script src="{% static 'dash.js' %}"></script>
</head>
<body>
    {% if announcement %}    
        <div class="alert alert-info">   
            <marquee behavior="" direction="">    
                <p>
                    {%for item in announcement%}
                        {{item.message}}&nbsp;&nbsp;{% if item.link_exist == True %} Link: <a href="{{item.link}}">Click Here</a>{% endif %} &nbsp;&nbsp;
                    {%endfor%}  
                </p>
            </marquee>
        </div>
    {% endif %}
     {% if request.user.is_authenticated == False%}
        <div class="container-fluid">
            <div class="container">
            <p class="introHead">Subhamasthu Shopping</p>
                <div class="card" style="margin-top: 15vh; margin-bottom: 15vh;">
                    <div class="row">
                        <div class="col-md-6 img_left"></div>
                        <div class="col-md-6 content">
                            {% if messages %}
                                {% for message in messages %}
                                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                                    <div class="alert alert-success" role="alert">
                                        {{message}} 
                                    </div>
                                </div>
                                {% endfor %}
                            {%endif%}
                            <div class="tab-content">
                                <div class="tab-pane row active" id="login">
                                    <center class="m-5">
                                    <div class="form-wrap col-md-6">
                                            <form class="signup-form" action="" method="POST">
                                                {%csrf_token%}
                                                <input type="password" class="form-control " id="user_pass"  name="new_password" placeholder="Password" required>
                                                <br>
                                                <input type="password" class="form-control " id="user_pass" name="cnf_password" placeholder="Confirm Password" required>
                                                <br>
                                                <input type="submit" class="btn btn-info" value="Change Password">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {%else%}
    <center>
        <div class="form-wrap">
            {%if request.user.is_superuser == False %}
                {%if request.user.user_type == "Student"%}
                <script>
                    window.location.href = "/student/enrollments";
                </script>
                {%elif request.user.user_type == "Faculty"%}
                <script>
                    window.location.href = "/faculty/facCourses";
                </script>
                {%elif request.user.user_type == "Librarian"%}
                <script>
                    window.location.href = "/librarian/addBook";
                </script>
                {%endif%}
            {%else%}
                <script>                   
                    window.location.href = "/dadmin/dashboard";
                </script>
            {%endif%}
        </div>
    </center>
    {%endif%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>