{% extends "luckydraw/dashboard.html"%}
{%block content%}
    <div class="container">
        <form action="" method="POST">
            {%csrf_token%}
            <div class="row form-group">
                <label for="np">New Password</label>
                <input type="text" name="new_password" id="np" class="form-control" required>
            </div>
            <div class="row form-group">
                <label for="cp">Confirm Password</label>
                <input type="text" name="cnf_password" id="cp" class="form-control" required>
            </div>
            <input type="submit" value="Change Password" class="btn btn-success">
        </form>
    </div>
{% endblock %}